# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual env
venv/
env/
.venv/

# Environment variables
.env

# Build / dist
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db